:root {
  /* color vars */
  --black: #202020;
  --grey: #4E4E4E;
  --rose: #E01E30;
}

body {
  margin: 0;
  font-family: 'DIN Condensed';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--black);
}

h2, h3, h4, h5 {
  margin: 0;
}
